.divider-container {
  display: flex;
  justify-content: center;
}

.divider {
  border: none;
  height: 1px;
  width: 80%;
  background: linear-gradient(to right, black, gray, black);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
