.container-item {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  gap: 40px;
}

.item-section1 {
  width: 400px;
  max-width: max-content;
  margin: 15px;
}

.item-section2,
.item-section3 {
  width: 700px;
  margin: 15px;
  text-align: center;
}

.buttons-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.custom-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #eaeaea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.custom-button:hover {
  background: #c1c1c1; /* Change background color on hover */
}

.custom-icon {
  margin-right: 5px;
}

#container {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.zoom {
  transform-origin: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.subtitle {
  text-align: center;
  font-size: 10px;
}

.customer-service {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items vertically */
}

.customer-service > div {
  display: flex;
  align-items: center;
  padding: 5px;
}

h4 {
  text-align: center;
}

.customer-service h4,
.customer-service p {
  align-items: center;
  text-align: center;
  margin: 0;
}

.grid-customer-service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.favorite-section {
  display: flex;
  flex-direction: row;
}
