.container {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-right: 200px;
  gap: 40px;
}

.carousel-section img {
  max-width: 100%;
  height: auto;
}

.item-section1 {
  width: 400px;
  margin: 15px;
}

.container-item-section1 {
  display: flex;
  flex-direction: column;
}

.display-section1 {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.display-section2 {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .item-section1 {
    flex-basis: 50%;
    /* Adjust the width and other styles as needed */
  }

  .item-section2 {
    flex-basis: 50%;
    /* Adjust the width and other styles as needed */
  }
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: #eaeaea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.custom-button:hover {
  background: #c1c1c1; /* Change background color on hover */
}

.custom-icon {
  margin-right: 5px;
}
