.profile-container {
  background-image: url("https://i.postimg.cc/J0qqVn5k/157964copie.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.048); /* Définit l'opacité de l'image de fond */
}