.containerbg {
  background-image: url("/home/sbellotlecoq/THP/final/PawsDetente/public/kawai.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: rgba(148, 66, 28, 0.048); */
  min-Height: 68vh;
  justify-Content: center;
  align-Items: center;
}